@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .sidebar a:hover {
    color: #ff0000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    transition: 0.5s;
  }
  
  .openbtn:hover {
    color: #ff0000;
  }
  
  #openbtn {
    transition: margin-left 1s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
#about{
  font-family: 'Lobster', cursive;
}

#pc{
  padding: 15px;
  background-color:black;
  margin: 10px;
  color: white;
}

#pc img{
  opacity: 0.85;
  transition: 0.5s;
}

#pc img:hover{
  opacity: 1;
  transition: 0.5s;
}

#up{
  visibility: hidden;
  color: rgb(172, 172, 172);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
#up:hover{
  color: #000;
}