@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Rampart+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  .sidebar a:hover {
    color: #ff0000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    transition: 0.5s;
  }
  
  .openbtn:hover {
    color: #ff0000;
  }
  
  #openbtn {
    transition: margin-left 1s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

#textColor{
  text-align: center;
  font-family: 'Rampart One', cursive;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

#pc{
  width: 100%;
  font-family: 'Lobster', cursive;
}

#content{
  padding-top: 2px;
  background-color: #f1f1f1;
  width: 100%;
}

.imgs{
  width: 100%;
}

#visibleImg{
  padding-top: 20px;
  float: left;
  width: 50%;
}

#image{
  width: 30%;
}

.prop{
  list-style-type:none;
  padding-top: 20px;
  overflow-y: scroll;
  float: left;
  width: 50%;
}

.prop li{
  padding: 6px;
}

#i1:hover,#i2:hover,#i3:hover,#i4:hover,#i5:hover{
  border: 2px solid black;
}

.btn{
  cursor: pointer;
  background: rgb(81, 177, 255);
  border: 3px solid white;
  width: 100px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  font-family: 'Patrick Hand', cursive;
  transition: 0.5s;
  }
  
.btn:hover{
  background: rgb(96, 96, 255);
  box-shadow: 5px 5px 5px rgb(96, 96, 255); 
}

#contact{
  font-family: 'Klee One', cursive;
  border-radius: 5px;
  background-color: #fffbfb;
  padding: 20px;
  margin: 5px;
}

input[type=text], input[type=email], input[type=number], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#more{
  font-family: 'Lobster', cursive;
  display: inline;
  background-color: #fffbfb;
}

#more img{
  width: 250px;
  height: 250px;
  opacity: 0.9;
}

#up{
  visibility: hidden;
  color: rgb(172, 172, 172);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
#up:hover{
  color: red;
}
